.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    row-gap:1rem;
}

.login .splash-screen-heading {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:75%;
}

.input-fields {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    line-height: 44px;
    color: var(--text-color-100);
}

label {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: -5px;
    font-size: 0.9rem;
    transition: 0.5s ease;
    font-weight: 300;
    color: var(--text-color-100);
}

.input {
    height: 2rem;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--icon-color);
    color: var(--text-color-100);
    padding: 0;
    z-index: var(--index-5);
}

input:focus~label,
input:valid~label {
    transform: translateY(-20px);
    font-size: 0.7rem;
    color: var(--text-color);
}

.input:focus {
    outline: transparent;
    border-bottom: 1px solid var(--text-color-100);
}
.primary-btn{
    width:7rem;
    height:2rem;
    color:var(--text-color-100);
    font-weight: 400;
    font-size: 1rem;  
    background-color: #834CFF;
    border-radius: 3px;
    border: none;
}
.navigation-link{
    color: var(--text-color-100);
    font-size: 0.7rem;
    text-decoration: none;
}
.login-heading{
    margin-top: 3rem;
    color:var(--text-color-100);
    color:#834CFF;
}
.login h2{
    margin-bottom:0rem ;
    font-size: 2rem;
    font-family: 'PT Sans', sans-serif;
}
.login p{
    margin-top: 0.2rem;
}
.arrow{
    width:5rem;
    position: absolute;
}
.arrow-random-1{
    bottom:0rem;
    left:-1rem;
    width:10rem;
}
.arrow-random-2{
    right: 1.5rem;
    width:7rem;
    transform: rotate(140deg);
    opacity: 0.5;
}
