@media only screen and (min-width: 768px) {
    .App {
        padding-left: 15rem;
    }
    .nav {
        left: 0;
        width: 15rem !important;
        height: 100% !important;
    }

    .nav div {
        height: 100%;
        padding-top: 3rem;
        flex-direction: column;
        justify-content: flex-start !important;
        row-gap: 1.5rem;
    }

    .nav div a {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
    }

    .post {
        width: 2.4rem !important;
        height: 2.4em !important;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .post-btn {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-around
    }

    .tag {
        color: var(--icon-color);
        display: block !important;
    }
    .heading{
        box-shadow: var(--icon-color) 6px -2px 7px !important;
        margin-left: 0.1rem;
    }

}